{% extends "base.html.twig" %}

{% block title %}Expositions{% endblock %}


{% block body %}
 
    <h1>Liste des Expositions</h1>

    {% for exposition in expositions %}
        <a href="{{ path('exposition') }}?id={{exposition.id}}"><h2> Nom de l'exposition : {{ exposition.getNom() }}</h2></a>
        <p>Lieu : {{ exposition.getLieu() }}</p>
        <p>Adresse : {{ exposition.getAdresse() }}</p>
        <p>Date de début : {{ exposition.getdateDebut|date('Y-m-d') }}</p>
        <p>Date de fin : {{ exposition.getdateFin|date(('Y-m-d')) }}</p>
        <p>Date du vernissage : {{ exposition.getdateVernissage|date(('Y-m-d H-i-s')) }}</p> <br>
    {% endfor %}
   <a href="{{ path('exposition_create') }}">Ajouter une exposition</a>
{% endblock %}